<div id="saving-throw-table" ng-controller="SavingThrowController">

 <div id="saving-throw-hdr">
   <hr>
   <h3> Saving Throws </h3>
   <hr>
 </div>

 <!--
 int characterClassId;
 String characterClassName;
 int characterClassExperienceLevel;
 int paralyzationPoisonOrDeathMagic;
 int petrifactionOrPolymorph;
 int rodStaffOrWand;
 int breathWeapon;
 int spell;
 -->
 <table class="ref-data" fixed-table-headers="scrollable-area">
   <caption>Saving Throws<caption>
     <thead>
     <tr>
       <th>Character
          Class
          Name</th>
       <th>Level</th>
       <th>Paralyzation,
         Poison, or
         Death Magic</th>
       <th>Petrifaction
         or Polymorph</th>
       <th>Rod,
         Staff,
         or Wand</th>
       <th>Breath
         Weapon</th>
       <th>Spells</th>
     </tr>
   </thead>
   <tbody>
     <tr ng-repeat="save in savingThrows">
       <td> {{save.characterClassName}} </td>
       <td> {{save.characterClassExperienceLevel}} </td>
       <td> {{save.paralyzationPoisonOrDeathMagic}} </td>
       <td> {{save.petrifactionOrPolymorph}} </td>
       <td> {{save.rodStaffOrWand}} </td>
       <td> {{save.breathWeapon}} </td>
       <td> {{save.spell}} </td>
     </tr>
   </tbody>
 </table>
 </div>

</div>
