<div id="select-race-cont" ng-controller="SelectRaceController">

    <div layout="row">
      <div flex>
        <form>
          <md-input-container>
            <md-select ng-change="setRace(raceType)" ng-model="raceType" placeholder="Select Race">
              <md-option ng-value="raceType" ng-repeat="raceType in possibleRace.possibleRaces">{{ raceType }}</md-option>
            </md-select>
          </md-input-container>
          <md-button class="md-raised md-primary" ng-click="put(character)">Set Character Race</md-button>
        </form>
        <span>You have selected - {{ character.race.raceType }} </span>
      </div>
      <div flex>
        <table class="character">
          <tr>
            <td>Strength:</td><td>{{character.strength.modifiedAbilityScore}} </td>
          </tr>
          <tr>
            <td>Intelligence:</td><td>{{character.intelligence.modifiedAbilityScore}} </td>
          </tr>
          <tr>
            <td>Wisdom:</td><td>{{character.wisdom.modifiedAbilityScore}} </td>
          </tr>
          <tr>
            <td>Dexterity:</td><td>{{character.dexterity.modifiedAbilityScore}} </td>
          </tr>
          <tr>
            <td>Constitution</td><td>{{character.constitution.modifiedAbilityScore}} </td>
          </tr>
          <tr>
            <td>Charisma:</td><td>{{character.charisma.modifiedAbilityScore}} </td>
          </tr>
        </table>
      </div>
      <div flex>Character Management Actions:
        <span class="requiredActions">
          <ul class="no-bullet required-action">
          <li ng-repeat="action in character.requiredActions">{{action}}</li>
        </ul>
        </span>
      </div>
    </div> <!-- End top row -->
    <div>
      <span> Raw JSON </span>
      <pre>{{ raceType | json }}</pre>
      <pre> {{ character.race }} </pre>
      <pre>{{ possibleRace | json }}</pre>
    </div>
</div> <!-- end controller -->
