<div id="turn-undead-cont" ng-controller="TurnUndeadController">

  <div id="turn-undead-hdr">
    <hr>
    <h3> Turn Undead </h3>
    <hr>
  </div>

  <div id="turn-undead-table">

  <table class="ref-data" fixed-table-headers="scrollable-area">
    <caption>Turn Undead - Cleric <caption>
      <thead>
      <tr>
        <th>Experience Level</th>
        <th>Undead Type</th>
        <th>Roll to Turn</th>
        <th>Turn Effect</th>
        <th>Number of Creatures Turned</th>
        <th>Number of Rounds Turned</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="record in turnUndead">
        <td> {{record.level}} </td>
        <td> {{record.undeadType}} </td>
        <td> {{record.toTurn}} </td>
        <td> {{record.turnUndeadAffect}} </td>
        <td> {{record.numTurnedRoll}} </td>
        <td> {{record.turnDurationRoll}} </td>
      </tr>
    </tbody>
  </table>
  </div>

      <pre>{{ turnUndead | json }}</pre>
</div>
