html, body{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    //background: #70bg32;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( #ECF0F1,#5DADE2,#D2B4DE);
    background: -moz-linear-gradient(#ECF0F1,#5DADE2,#D2B4DE);
    background: -ms-linear-gradient(#ECF0F1,#5DADE2,#D2B4DE);
    background: -o-linear-gradient(#ECF0F1,#5DADE2,#D2B4DE);
    background: linear-gradient(#ECF0F1,#5DADE2,#D2B4DE);
    height: auto;
}
body {
  font-family: 'Bree Serif', serif;
  font-size: 11pt;
}
body md-select-menu, body md-content{
  max-height: 350px;
}
md-select {
    display: inline-block;
}
button.blue {
  background-color:blue;
}

hr {
  color: white;
}
img.max100 {
  max-width: 300px;
  max-height: 300px;
}

}
table.character td, table.spells td, table.ref-data th td {
  //border: 1px solid black;
  //border-collapse: collapse;
  padding:3px;
  text-align: left;
  vertical-align: top;
  //good flow for mobile
  //display:inline-block;
  table-layout: fixed;
}

table.ref-data th, table.ref-data td {  text-align:center; }

table.character tr:hover td, table.spells tr:hover td, table.ref-data tr:hover td {
  background-color: white;
}
table.races td {
  vertical-align: top;
  text-align: left;
  padding: 7px;
}
table.character tr {
  outline: initial;
}
table.races tr {
  outline: thin solid;
}
#character-content {
  width: 100%;
  display: inline-block;
}

#villagers {
  background-image: url('/src/main/webapp/img/butron-castle.jpg');
  background-size:  100% 100%;
  background-repeat:repeat-x;
}
#personal {
    background-image: url('/src/main/webapp/img/IMG_1804.JPG');
    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-position: right;
}
#dragon {
  background-image: url('/src/main/webapp/img/asian-dragon.jpg');
  background-size:100% 100%;
}
#sword {
  background-image: url('/src/main/webapp/img/sword.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: right;

}
#gear{
  background-image: url('/src/main/webapp/img/gear.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: right;

}
#scroll{
  background-image: url('/src/main/webapp/img/scroll.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: right;

}
span.bold-text {
  font-size: 12pt;
  font-weight: bold;
}
span.menu-bar {
  color: blue;
  font-size:13pt; !important;
}
span.center-olde {
  font-family: Olde;
  font-size:10pt;
  text-align: center;
}
.center-big {
  font-size:11pt;
  text-align: center;
}


.hitDiceHistory {
  //border: 1px solid black;
}

@font-face {
  font-family: Olde;
  src:url('/src/main/webapp/fonts/CloisterBlack.ttf');
}
#header {
  margin: 0 auto;
  padding-top: 0;
  font-family: Olde, sans-serif;
  font-size: 14pt;
  color: red;
  background-image: url('/src/main/webapp/img/fire-breathing-dragon.jpg');
  background-size: 100% 100%;
  background-position: right;
  height:auto;
  width:100%;
}
ul.attribute {
  font-size: 4pt;
}

#spell-detail {
  z-index: 1;
}
#spell-detail-img {
  background-image: url('/src/main/webapp/img/dkdrow.jpg');
  background-repeat: no-repeat;
  background-position:top right;
  background-size:;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#spells {
  background-image: url('/src/main/webapp/img/spell-book.jpg');
  background-size:  120px 120px;
  background-repeat: no-repeat;
  background-position: right top;
}
ul.characterList {
  list-style-type: none;
}
