html, body{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    //background: #70bg32;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( #ECF0F1,#5DADE2,#D2B4DE);
    background: -moz-linear-gradient(#ECF0F1,#5DADE2,#D2B4DE);
    background: -ms-linear-gradient(#ECF0F1,#5DADE2,#D2B4DE);
    background: -o-linear-gradient(#ECF0F1,#5DADE2,#D2B4DE);
    background: linear-gradient(#ECF0F1,#5DADE2,#D2B4DE);
    height: auto;
}
body {
  font-family: 'Bree Serif', serif;
  font-size: 11pt;
}
body md-select-menu, body md-content{
  max-height: 350px;
}
md-select {
    display: inline-block;
}
button.blue {
  background-color:blue;
}

hr {
  color: white;
}
img.max100 {
  max-width: 300px;
  max-height: 300px;
}

}
/* Table Config */
table {
  overflow: hidden;
  table-layout: fixed;
}

td {
  vertical-align: top;
  text-align: left;
  padding:3px;
}

table.character td, table.spells td, table.ref-data td {
  //border: 1px solid black;
  //border-collapse: collapse;
  //good flow for mobile
  //display:inline-block;
  z-index:1;
}

table.ref-data th, table.ref-data td {
  text-align:center;
  white-space: pre-line;
  vertical-align: bottom;
  height:1px;
}

table.character tr:hover td, table.spells tr:hover td, table.ref-data tr:hover td {
  background-color: white;
}
table.races td {
  padding: 7px;
}
table.ref-data td {
  padding: 5px;
  cursor: pointer;
}
table.ref-data td:hover {
  transform: scale(1.25);
  color: red;
}
/*table.ref-data td:hover::after {
    background-color: white;
    content: '\00a0';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -100;
}*/
/*
body:not(.nohover) table.ref-data tbody tr:hover {
  background-color: #ffa;
}

table.ref-data td:hover::after,
table.ref-data thead th:not(:empty):hover::after,
table.ref-data td:focus::after,
table.ref-data thead th:not(:empty):focus::after {
  content: '';
  height: 10000px;
  left: 0;
  position: absolute;
  top: -5000px;
  width: 100%;
  z-index: -1;
}

table.ref-data td:hover::after,
table.ref-data th:hover::after {
  background-color: #ffa;
}

table.ref-data td:focus::after,
table.ref-data th:focus::after {
  background-color: lightblue;
}


table.ref-data td:focus::before,
table.ref-data tbody th:focus::before {
  //Focus stuff for mobile
  background-color: lightblue;
  content: '';
  height: 100%;
  top: 0;
  left: -5000px;
  position: absolute;
  width: 10000px;
  z-index: -1;
}
*/






table.character tr {
  outline-style: none;
}
table.races tr {
  outline: thin solid;
}

/* div formats */
.content {
  display: flex;
}

#character-container {
  width: 100%;
  display: inline-block;
}

#villagers {
  background-image: url('/src/main/webapp/img/butron-castle.jpg');
  background-size:  100% 100%;
  background-repeat:repeat-x;
}
#personal {
    background-image: url('/src/main/webapp/img/IMG_1804.JPG');
    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-position: right;
}
#dragon {
  background-image: url('/src/main/webapp/img/asian-dragon.jpg');
  background-size:100% 100%;
}
#sword {
  background-image: url('/src/main/webapp/img/sword.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: right;

}
#gear{
  background-image: url('/src/main/webapp/img/gear.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: right;

}
#scroll{
  background-image: url('/src/main/webapp/img/scroll.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: right;

}
span.bold-text {
  font-size: 12pt;
  font-weight: bold;
}
span.menu-bar {
  color: blue;
  font-size:13pt; !important;
}
span.center-olde {
  font-family: Olde;
  font-size:10pt;
  text-align: center;
}
.center-big {
  font-size:11pt;
  text-align: center;
}

@font-face {
  font-family: Olde;
  src:url('/src/main/webapp/fonts/CloisterBlack.ttf');
}
#header {
  margin: 0;
  padding-top: 0;
  font-family: Olde, sans-serif;
  font-size: 14pt;
  color: red;
  background-image: url('/src/main/webapp/img/fire-breathing-dragon.jpg');
  background-size: 100% 100%;
  background-position: right;
  height:auto;
  width:100%;
}
ul.attribute {
  font-size: 4pt;
}

#spell-detail {
  z-index: 1;
}
#spell-detail-img {
  background-image: url('/src/main/webapp/img/dkdrow.jpg');
  background-repeat: no-repeat;
  background-position:top right;
  background-size:;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#spells {
  background-image: url('/src/main/webapp/img/spell-book.jpg');
  background-size:  120px 120px;
  background-repeat: no-repeat;
  background-position: right top;
}
ul.no-bullet {
  list-style-type: none;
}
ul.required-action {
  color: red;
  text-decoration: underline;
  text-decoration:overline;
}
