<!doctype html>
<html ng-app="App" class="no-js" lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Dungeon Master Pro Start Page</title>
	<meta name="description" content="dmpro">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<!-- Place favicon.ico in the root directory -->

	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/dmpro.css">
	<script src="js/vendor/modernizr-2.8.3.min.js"></script>

<!--
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
-->
	<script src="node_modules/angular/angular.min.js"></script>
	<script src="node_modules/angular-aria/angular-aria.min.js"></script>
	<script src="node_modules/angular-animate/angular-animate.min.js"></script>
	<script src="node_modules/angular-material/angular-material.min.js"></script>
	<script src="node_modules/angular-messages/angular-messages.min.js"></script>
	<script src="node_modules/angular-route/angular-route.min.js"></script>
	<!-- Angular Material Library -->
  <!-- nicer fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
</head>

<!-- cloaking hides template -->
<body class="dmpro" ng-controller="LayoutController" ng-cloak>

<div id="header" ng-controller="CharacterListController">
		<h1>Dungeon Master Pro Character Sheet </h1>
		<div id="menu">
			<md-menu-bar>
			  <md-menu md-offset="0 0">
			    <button ng-click="$mdOpenMenu()"><span class="menu-bar">Character</span></button>
			    <md-menu-content width="400px" ng-controller="CharacterListController">
						<md-menu-item>
								<md-button ng-click="go('/create-character')">Create New ...</md-button>
						</md-menu-item>
						<md-menu-divider></md-menu-divider>
						<md-menu-item>
							<md-menu>
							  <md-button ng-click="$mdOpenMenu()"> My Characters</md-button>
								<md-menu-content>
			            <md-menu-item ng-repeat="(key,value) in characterList">
			              <md-button ng-click="go('/character/' + key)">{{value}}</md-button>
			            </md-menu-item>
							  </md-menu-content>
				 	    </md-menu>
					  </md-menu-item>
			    </md-menu-content>
			  </md-menu>
				<md-menu md-offset="0 0">
			    <button ng-click="$mdOpenMenu()"><span class="menu-bar">Reference Data</span></button>
			    <md-menu-content width="400px">
			      <md-menu-item ng-repeat="(route, menuItem) in refData">
			        <md-button ng-click="go(route)">{{menuItem}}</md-button>
			      </md-menu-item>
			    </md-menu-content>
			  </md-menu>
				<md-menu md-offset="0 0">
			    <button ng-click="$mdOpenMenu()"><span class="menu-bar">Weapons, Armor and Equipment</span></button>
			    <md-menu-content width="400px">
			      <md-menu-item ng-repeat="key in ['Weapons','Armor','Equipment']">
			        <md-button ng-click="go(key)">{{key}}</md-button>
			      </md-menu-item>
			    </md-menu-content>
			  </md-menu>
			</md-menu-bar>
		</div>
</div>
<!-- Add your site or application content here -->
<md-sidenav md-component-id="left" class="md-sidenav-left">
	 Left Nav!
	 {{ test-element }}
 </md-sidenav>
<div ng-view></div>

<!-- unused part of boilerplate -->
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
(
	function(b, o, i, l, e, r) {
		b.GoogleAnalyticsObject = l;
		b[l] || (b[l] = function() {
			(b[l].q = b[l].q || []).push(arguments)
		});
		b[l].l = +new Date;
		e = o.createElement(i);
		r = o.getElementsByTagName(i)[0];
		e.src = 'https://www.google-analytics.com/analytics.js';
		r.parentNode.insertBefore(e, r)
	}(window, document, 'script', 'ga'));
	ga('create', 'UA-XXXXX-X', 'auto');
	ga('send', 'pageview');
	</script>
</body>

<script type="text/javascript">

//angular modules to be moved to app.module.js

var app = angular.module('App', ['ngRoute', 'ngMaterial']);

app.config(function ($routeProvider) {
	$routeProvider
	.when('/', {
		templateUrl: 'views/characterList.html',
		//controller: 'CharacterListController'
	})
	.when('/character/:characterId', {
		templateUrl: 'views/charactersheet.html',
		//controller: 'CharacterController'
	})
	.when('/character/:characterId/select-race', {
		templateUrl: 'views/selectRace.html',
		//controller: 'CharacterController'
	})
	.when('/character/:characterId/select-class', {
		templateUrl: 'views/selectClass.html',
		//controller: 'CharacterController'
	})
	.when('/spells', {
		templateUrl: 'views/spellList.html',
		//controller: 'SpellListController'
	})
	.when('/spells/:spellName', {
		templateUrl: 'views/spellDetail.html',
		//controller: 'SpellController'
	})
	.when('/combat', {
		templateUrl: 'views/combatTables.html',
		//controller: 'CombatController'
	})
	.when('/saving', {
		templateUrl: 'views/savingThrowTables.html',
	})
	.when('/thiefskills', {
		templateUrl: 'views/thiefSkills.html',
	})
	.when('/turnundead', {
		templateUrl: 'views/turnUndead.html',
	})
	.when('/race', {
		templateUrl: 'views/race.html',
	})
	.when('/classes', {
		templateUrl: 'views/classes.html',
	})
	.when('/create-character', {
		templateUrl: 'views/build_character.html',
	})
	.when('/items', {
		templateUrl: 'views/items.html',
	})
	.otherwise( {
		template : 'nothing'
	});
});

app.controller('LayoutController', function($scope) {
	$scope.test='test-element';
});

app.controller('CharacterController', function($scope,$http,$location,$routeParams) {
	console.log($routeParams.characterId);
	$http.get('/api/character/'+$routeParams.characterId).then(function(response) {
		$scope.character = response.data;
	}); // this will return a promise to controller
	$scope.go = function ( path ) {
		$location.path( path );
	};
});

//rename to menu controller
app.controller('CharacterListController', function($scope,$http, $location) {
	$http.get('/api/allcharacters').then(function(response) {
		$scope.characterList = response.data;
	});

  //add nav function to scope
	$scope.go = function ( path ) {
		$location.path( path );
	};

  $scope.refData = { "spells":"Spells","combat":'Combat Tables', 'saving':'Saving Throws', 'thiefskills': 'Thief Skills',
	 'turnundead':'Turn Undead', 'race':'Race Details','classes':'Class Details'};
});

app.controller('SpellListController', function($scope, $http, $location) {
	$http.get('/api/allspells').then(function(response) {
		$scope.spellList = response.data;
	})
	$scope.sortType     = 'spellName'; // set the default sort type
	$scope.sortReverse  = false;  // set the default sort order
	$scope.searchSpell  = '';     // set the default search/filter term
	$scope.go = function ( path ) {
		$location.path( '/spells/' + path );
	};
});

app.controller('SpellController', function($scope, $http,$location,$routeParams) {
	$http.get('/api/spells/'+$routeParams.spellName).then(function(response) {
		$scope.spell = response.data;
	})
});

app.controller('CombatController', function($scope, $http,$location,$routeParams) {
	$scope.classSearch="";
	$http.get('/api/classes/').then(function(response) {
		$scope.characterClasses = response.data;
	})
	$http.get('/api/allcombat/').then(function(response) {
		$scope.combat = response.data;
	})
});

app.controller('SavingThrowController', function($scope, $http,$location,$routeParams) {
	$http.get('/api/allsavingthrows/').then(function(response) {
		$scope.savingThrows = response.data;
	})
});
app.controller('ThiefSkillsController', function($scope, $http,$location,$routeParams) {
	$http.get('/api/thiefskills/').then(function(response) {
		$scope.thiefSkills = response.data;
	})
});

app.controller('TurnUndeadController', function($scope, $http,$location,$routeParams) {
	$http.get('/api/turnundead/').then(function(response) {
		$scope.turnUndead = response.data;
	})
});

app.controller('RaceController', function($scope, $http,$location,$routeParams) {
	$http.get('/api/race/').then(function(response) {
		$scope.races = response.data;
	});

	$scope.raceImages = {'DWARF' :'img/dwarvenwarrior.jpg', 'ELF': 'img/elven-warriors.jpg', 'GNOME':'img/gnome-illusionist.jpg',
'HALFELF':'img/halfelfranger.jpg','HALFORC':'img/halforccleric.jpg','HUMAN':'img/humanpaladin.jpg', 'HALFLING':'img/dd-halfling.jpg'};

});

app.controller('ClassesController', function($scope, $http,$location,$routeParams) {
	$http.get('/api/classes/').then(function(response) {
		$scope.characterClasses = response.data;
	})
});

app.controller('CreateCharacterFormController', function($scope,$http, $location,$routeParams) {
	$scope.character = {
		suffixes: []
	};
	$scope.errorMessage = "";
	$scope.submit = function (character) {
	  $http.post('/api/character', character)
		.then(function(response) {
		  $scope.character = response.data;
			console.log($scope.character.characterId);
			$location.path( '/character/' + $scope.character.characterId + '/select-race');
    })
	}; //end submit
});



	app.controller('SelectRaceController', function($scope,$http,$location,$routeParams) {
		//
		//$scope.id = window.location['hash'].split("/").pop();
		//console.log($scope.id);
		$scope.warnings = [];
		$scope.raceMap = {};
		$http.get('/api/race').then(function(response) {
			$scope.raceMap = response.data;
		});
		console.log($routeParams.characterId);
		var raceType = {};
		$http.get('/api/character/'+$routeParams.characterId + '/select-race').then(function(response) {
			$scope.possibleRace = response.data;
		});
		$http.get('/api/character/'+$routeParams.characterId).then(function(response) {
			$scope.character = response.data;
		});


		$scope.setRace = function(value) {
			$scope.character.race = $scope.raceMap[value];
		}

    $scope.put = function (character) {
			console.log('called put');
			$http.put('/api/savecharacter', $scope.character).then(function(response) {
				$scope.character = response.data;
				$location.path ('/character/'+ $routeParams.characterId + '/select-class');
			});

		}
		$scope.go = function ( path ) {
			$location.path( path );
		};
	});

	app.controller('SelectClassController', function($scope,$http,$location,$routeParams) {
	  $scope.warnings = [];
	  $scope.characterClassMap = {};
	  $http.get('/api/classes').then(function(response) {
	    $scope.characterClassMap = response.data;
	  });
	  console.log($routeParams.characterId);
	  var characterClass = {};
	  //possible classes
	  $http.get('/api/character/'+$routeParams.characterId + '/select-class').then(function(response) {
	    $scope.selectClass = response.data;
	  });
	  //current character
	  $http.get('/api/character/'+$routeParams.characterId).then(function(response) {
	    $scope.character = response.data;
	  });


	  $scope.setClass = function(value) {
	    $scope.character.classes[value] = $scope.characterClassMap[value];
	  };

	  $scope.put = function (character) {
	    $http.put('/api/savecharacter', character).then(function(response) {
	      $scope.character = response.data;
				$http.get('/api/character/'+ $routeParams.characterId + '/setpersonal').then(function(response) {
		      $scope.character = response.data;
					$location.path ('/character/'+ $routeParams.characterId);
		    });
	    });

	  };

	  $scope.go = function ( path ) {
	    $location.path( path );
	  };
	});


  app.controller('ItemController', function($scope,$http,$location,$routeParams) {
		$scope.cartItems = [];
		$scope.count = [0];
		$http.get('/api/items').then(function(response) {
	    $scope.items = response.data;
	  });

		$scope.addToCart = function(item) {
			var x=-1;
			x = $scope.cartItems.indexOf(item);
			if ( x == -1 ) {
			  x = $scope.cartItems.push(item);
				console.log(x)
				$scope.count[x-1]=1;
			} else {
				console.log('match at ' + x);
				$scope.count[x]++;
				console.log($scope.count[x]);
			}

		}
		$scope.removeFromCart = function(index) {
			$scope.cartItems.splice(index,1);
		}
	});
</script>
</html>
